// main.scss

// 1. Google Font
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

// 2. Variables
$body-bg:#fff;
$primary: #4D321B;
$secondary: #F1E5D0;
$card-bg: #FFFAF0;
$font-stack:     'Plus Jakarta Sans', 'Helvetica Neue', Arial, sans-serif;

// 3. Base
* {
  box-sizing: border-box;
}

h1 {
  margin: 0;
}


body {
  margin: 0;
  padding: 0;
  background: $body-bg;
  color: $primary;
  font-family: $font-stack;
  line-height: 1.6;
}
a {
  color: $primary;
  text-decoration: none;
  &:hover { text-decoration: underline; }
}
.container {
  max-width: 960px;
  margin: 0 auto;
  padding: 1rem;
}

// 4. Hero
.hero {
  display: flex;
  align-items: center;
  background: $card-bg;
  padding: 0 3rem;
  gap: 10rem;


  &__image {
    width: 400px;
    height: 400px;
    background-size: cover ;
    background-repeat: no-repeat;
  }

  &__content {
    h1 {
      font-size: 3.5rem;
      color: $primary;
      line-height:80px;
      font-weight: 500;
      
    }
    &__buttons {
      display: flex;
      gap: 1rem;
    }
  }
}


// 5. Buttons
.btn {
  font-weight: 600;
  cursor: pointer;

  &--light {
    background: $secondary;
    color: $primary;
    border: none;
    padding: 0.75rem 1.5rem;
  }
  &--dark {
    background: $primary;
    color: #fff;
    border: none;
    padding: 0.75rem 1.5rem;
  }
  &--outline {
    background: none;
    color: $primary;
    border: 1px solid $primary;
    padding: 0.5rem 1rem;
  }
  &--link {
    background: none;
    color: $primary;
    border: none;
  }
}